<div class="profile-card">
    <div class="avatar">
        <img src="../../../assets/profile/profile-avatar.png" alt="">
    </div> <!-- end of avatar -->

    <div class="main">
        <div class="name">
<!--            {{ user.name }}-->
        </div>
        <div class="icons">
            <div class="icon">
                <div class="friend-request-icon"></div>
            </div>
            <div class="icon">
                <div class="email-icon"></div>
            </div>
        </div> <!-- end of icons -->

        <div class="meta">
            <div class="followers">
                1.4k Followers
            </div>
            <div class="following">
                10.32k Following
            </div>
        </div> <!-- end of meta -->

        <ul class="social-links">
            <li class="facebook">
                <a href="#"></a>
            </li>
            <li class="twitter">
                <a href="#"></a>
            </li>
            <li class="instagram">
                <a href=""></a>
            </li>
        </ul> <!-- end of social links -->

        <p class="desc">
            Businesses often become known today through effective marketing. The marketing may be in the form of a regular news <br>
            item or half column society news in the Sunday newspaper. The marketing may be in the form of a heart to heart.
        </p>
    </div> <!-- end of main -->

    <div class="profile-card-footer">
        <nav class="secondary">
            <ul>
                <li><a href="#">articles</a></li>
                <li><a href="#">recommendations</a></li>
                <li><a href="#">subscribe</a></li>
            </ul>
        </nav> <!-- end of secondary -->
    </div> <!-- end of profile-card-footer -->
</div> <!-- end of profile-card -->
